body {
    //border: 2px solid;
    width: 240px;
    //height: 192px;
    align-items: stretch;
    align-content: stretch;
    margin: 3px
}

.container {
    display: flex;
    //border: 2px solid;
}

.item {
    flex-grow: 1;
}

.title {
    font-weight: bold;
    flex-grow: 1;
}

button {
    //flex-grow: 1;
}

select {
    //flex-grow: 1;
    width: 60px;
}

h1 {
    align-content: center;
}

#title_container {
    border-bottom: 2px solid;
}

#refresh_container {
    //border: solid;
}

#slide_container {
    //border: solid;
    border-bottom: 2px solid;
}

#button_container {
    //border: solid;
}

#slide_time_save {
    width: 70px;
}

#refresh_time_save {
    width: 70px;
}

#play {
    background-color: lime;
    font-size: large;
    font-weight: bold;
    flex-grow: 1;
}

#stop {
    background-color: red;
    font-size: large;
    font-weight: bold;
    flex-grow: 1;
}
